<h1>Alumni#edit</h1>
<h1>Editing alumniprofile</h1>

<%= render 'form' %>

<%= link_to 'Show', @alumniprofile %> |
<%= link_to 'Back', alumniprofiles_path %>
<p>Find me in app/views/alumni/edit.html.erb</p>
