<p id="notice"><%= notice %></p>

<p>
  <b>Dept:</b>
  <%= @facultyprofile.dept %>
</p>


<%= link_to 'Edit', edit_facultyprofile_path(@facultyprofile) %> |
<%= link_to 'Back', facultyprofiles_path %>
