<h1>Faculty#edit</h1>
<h1>Editing facultyprofile</h1>

<%= render 'form' %>

<%= link_to 'Show', @facultyprofile %> |
<%= link_to 'Back', facultyprofiles_path %>
<p>Find me in app/views/faculty/edit.html.erb</p>
