<h1>Faculty#show</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Dept:</b>
  <%= @facultyprofile.dept %>
</p>


<%= link_to 'Edit', edit_facultyprofile_path(@facultyprofile) %> |
<%= link_to 'Back', facultyprofiles_path %>

<p>Find me in app/views/faculty/show.html.erb</p>
